{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<div style="margin-left: 20px;">
    <h1 class="display-1">Sign Up</h1>
    <p class="lead">Register below to join our application!</p>

    <form method="POST">

        {{ form.hidden_tag() }}

        {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>
        {% endif %}
        {% endfor %}

        <button class="btn btn-success" type="submit">Register</button>

    </form>

    <p>Already a user? <a href="/login">Click here to log in.</a></p>
</div>
{% endblock %}